@layer components {
  #app {
    @apply h-screen overflow-hidden flex justify-start;
  }

  .layout {
    $layout: &;

    @include create-animation($name: 'appear-extra-panel',
      $from: translateX(0),
      $to: translateX(-100%),
      $duration: 500ms,
    );

    @apply flex flex-col min-h-screen w-screen justify-start;

    @screen tablet-ld {
      @apply flex-row justify-end;
    }

    // router view box
    &__router-box {
      @apply order-1 flex-1 flex flex-col min-h-fit;
      @apply transition-spacing duration-500;


      @screen tablet-ld {
        @apply order-2 ml-[40vw];

        #{$layout}--is-secondary & {
          @apply ml-none;
          @apply duration-300;
        }
      }


      &__header {
        @apply sticky flex justify-end px-xlg py-sm gap-sm;
        @apply bg-default-positive shadow-b rounded-br-lg rounded-bl-lg;

        @screen tablet-ld {
          @apply rounded-br-xl rounded-bl-none
        }
      }

      &__content {
        @apply flex-1 overflow-y-auto
      }
    }
  }
}