.dashboard {
  $dashboard: &;
  --from-animation: 70%;
  --to-animation: -70%;
  --cell-gap: 1%;

  @include create-animation($name: 'appear-extra-panel',
    $from: translateY(var(--from-animation)),
    $to: translateY(var(--to-animation)),
  );

  @apply flex flex-col flex-1 items-center justify-center h-full p-lg max-w-4xl;

  @screen large-desktop {
    @apply max-w-6xl
  }

  &--is {
    &-no-logged {
      @apply duration-700;
    }
  }

  &__highlight {
    @apply flex flex-col;
    @apply text-xlg font-bold text-gray-100 text-center;

    @screen phone {
      @apply text-lg
    }

    >* {
      @apply font-regular text-base;
    }
  }

  &__charts {
    @apply grid gap-md w-full;

    // custom
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);

    @screen desktop {
      // custom
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto, 1fr);
    }

    @screen phone {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, 1fr);
    }

    >* {
      background: gray
    }

    &--is- {
      &row-t__left {
        grid-area: 1 / 1 / 2 / 3;

        @screen desktop {
          grid-area: 1 / 1 / 2 / 2;
        }

        @screen phone {
          grid-area: 1 / 1 / 2 / 2;
        }
      }

      &row-t__center {
        grid-area: 1 / 3 / 2 / 5;

        @screen desktop {
          grid-area: 1 / 2 / 2 / 3;
        }

        @screen phone {
          grid-area: 2 / 1 / 3 / 2;
        }
      }

      &row-t__right {
        grid-area: 2 / 1 / 3 / 3;

        @screen desktop {
          grid-area: 1 / 3 / 2 / 4;
        }

        @screen phone {
          grid-area: 3 / 1 / 4 / 2;
        }
      }

      &row-c__left-top {
        grid-area: 2 / 3 / 3 / 5;

        @screen desktop {
          grid-area: 2 / 1 / 3 / 2;
        }

        @screen phone {
          grid-area: 4 / 1 / 5 / 2;
        }
      }

      &row-c__left-bottom {
        grid-area: 3 / 1 / 4 / 3;

        @screen desktop {
          grid-area: 3 / 1 / 4 / 2;
        }

        @screen phone {
          grid-area: 5 / 1 / 6 / 2;
        }
      }

      &row-c__right {
        grid-area: 4 / 1 / 5 / 5;

        @screen desktop {
          grid-area: 2 / 2 / 4 / 4;
        }

        @screen phone {
          grid-area: 6 / 1 / 7 / 2;
        }
      }

      &row-b {
        grid-area: 3 / 3 / 4 / 5;

        @screen desktop {
          grid-area: 4 / 1 / 5 / 4;
        }

        @screen phone {
          grid-area: 7 / 1 / 8 / 2;
        }
      }
    }
  }

  /*&__charts {
    // @apply grid grid-cols-2 gap-lg;
    @apply flex gap-[var(--cell-gap)] flex-wrap justify-between;
    @apply duration-1000;

    @screen desktop {
      //@apply grid-cols-3
    }

    @screen phone {
      //@apply grid-cols-1 gap-md
    }

    &__box {
      flex-basis: calc(50% - var(--cell-gap));

      @screen phone {
        @apply basis-full;
      }
    }

    &--is- {
      &20 {
        @screen desktop {
          flex-basis: calc(20% - var(--cell-gap))
        }
      }

      &25 {
        @screen desktop {
          flex-basis: calc(25% - var(--cell-gap))
        }
      }

      &30 {
        @screen desktop {
          flex-basis: calc(30% - var(--cell-gap))
        }
      }

      &35 {
        @screen desktop {
          flex-basis: calc(35% - var(--cell-gap))
        }
      }

      &40 {
        @screen desktop {
          flex-basis: calc(40% - var(--cell-gap))
        }
      }

      &45 {
        @screen desktop {
          flex-basis: calc(45% - var(--cell-gap))
        }
      }

      &60 {
        @screen desktop {
          flex-basis: calc(60% - var(--cell-gap));
        }
      }
    }
  }*/
}