@import '../base/easing';

@mixin create-animation($name: 'slide',
  $init: translateY(0) translateX(0),
  $from: translateX(100%),
  $to: translateX(100%),
  $duration: .4s,
  $duration-out: .6s,
  $delay: 0s,
  $ease: linear) {

  .#{$name}-leave,
  .#{$name}-enter-to {
    opacity: 1;
    transform: $init
  }

  .#{$name}-leave-active,
  .#{$name}-enter-active {
    transition: transform $duration var(--sm-ease-out, linear) $delay,
      opacity $duration var($ease, linear) $delay;
  }

  .#{$name}-leave-active {
    transition-duration: $duration-out;
    transition-timing-function: var($ease, linear)
  }

  .#{$name}-leave-to {
    opacity: 0;
    transform: $to;
  }

  .#{$name}-enter-from {
    opacity: 0;
    transform: $from
  }
}

@mixin spinner($size, $borderSize, $color, $message: '') {
  --size-value: #{$size * 1px};
  --border-size: #{$borderSize * 1px};
  --border-color: #{$color};

  &::after {
    @apply block h-[var(--size-value)] left-[50%] fixed w-[var(--size-value)] top-[50%];
    @apply rounded-[50%] z-[21] border-x-[16px] border-y-[16px] border-solid border-y-[var(--border-color)] border-x-none;
    @apply content-[''];

    @apply animate-spin;
  }
}