.forecast-weather {
  --from-animation: 100%;
  --to-animation: -50%;

  @include create-animation($name: 'current-day-change',
    $from: translateX(var(--from-animation)),
    $to: translateX(var(--to-animation)),
  );

  @apply flex w-full items-center flex-wrap;

  @screen phone {
    @apply justify-end
  }

  >* {
    &:is(button) {
      +* {
        &:is(button) {
          @apply ml-sm
        }
      }
    }
  }

  &__switch {
    @apply flex-1;
    @apply duration-700;

    @screen phone {
      @apply w-full flex-auto
    }
  }
}