.panel {
  $panel: &;

  @include create-animation($name: 'switch-component',
    $from: translateX(30%),
    $to: translateX(-30%));

  @apply order-2 flex flex-col justify-start sticky bottom-none w-screen;
  @apply bg-gray-500 z-[11];
  @apply duration-1000;

  @screen tablet-ld {
    @apply flex-row order-1 basis-2/5 justify-end fixed left-none top-none h-screen max-w-[40vw] z-10;
  }

  @screen desktop {
    @apply max-w-[32vw]
  }

  @screen large-desktop {
    @apply max-w-[26vw]
  }

  &__logo {
    @apply flex gap-sm items-center text-sm;

    >svg {
      @apply w-xlg h-xlg
    }
  }

  &-navigation {
    @apply basis-xlg order-2 justify-end items-end flex p-sm translate-y-[100%] translate-x-none;
    @apply bg-gray-600 rounded-t-lg;
    @apply transition-transform duration-500;

    @screen tablet-ld {
      @apply flex-row order-1 basis-xxlg justify-center;
      @apply rounded-r-xl;
      @apply translate-x-[-100%] translate-y-none
    }

    #{$panel}--is-logged & {
      @apply translate-y-none;

      @screen tablet-ld {
        @apply translate-x-none;
      }
    }
  }

  &-content {
    @apply flex flex-initial flex-col grow order-1 p-lg justify-end gap-xlg overflow-hidden;
    @apply transition-transform duration-500;
    @apply translate-x-none translate-y-[2rem];

    @screen tablet-ld {
      @apply flex-col order-2;
      @apply translate-x-[-2rem] translate-y-none
    }

    @screen phone {
      @apply py-md
    }


    #{$panel}--is-logged & {
      @apply translate-y-none;

      @screen tablet-ld {
        @apply translate-x-none;
      }
    }
  }

  &__header,
  &__footer {
    @apply flex gap-sm items-center;
    @apply text-default-positive;
  }

  &__header {
    @apply mt-none mb-auto justify-end;
    @apply text-lg font-bold;

    @screen tablet-ld {
      @apply justify-start
    }
  }

  &__footer {
    @apply text-xs;

    >svg {
      @apply w-xlg h-xlg
    }
  }

  &__switch {
    @apply duration-1000
  }
}