.panel {
  $panel: &;

  @include create-animation($name: 'switch-component',
    $from: translateX(30%),
    $to: translateX(-30%));

  @apply order-2 flex flex-col justify-start;
  @apply bg-gray-500;
  @apply duration-1000;

  @screen tablet-ld {
    @apply flex-row order-1 basis-2/5 justify-end fixed left-none top-none h-screen max-w-[40vw] z-10;
  }

  @screen desktop {
    @apply max-w-[32vw]
  }

  @screen large-desktop {
    @apply max-w-[26vw]
  }

  &__logo {
    @apply flex gap-sm items-center text-sm;

    >svg {
      @apply w-xlg h-xlg
    }
  }

  &-navigation {
    @apply basis-xlg order-2 justify-end items-end flex p-sm;
    @apply bg-gray-600 rounded-t-lg;

    @screen tablet-ld {
      @apply flex-row order-1 basis-xxlg justify-center;
      @apply rounded-r-xl
    }
  }

  &-content {
    @apply flex flex-initial flex-col grow order-1 p-lg justify-end gap-xlg overflow-hidden;

    @screen tablet-ld {
      @apply flex-col order-2;
    }

    @screen phone {
      @apply py-md
    }
  }

  &__header,
  &__footer {
    @apply flex gap-sm items-center;
    @apply text-default-positive;
  }

  &__header {
    @apply mt-none mb-auto justify-end;
    @apply text-lg font-bold;

    @screen tablet-ld {
      @apply justify-start
    }
  }

  &__footer {
    @apply text-xs;

    >svg {
      @apply w-xlg h-xlg
    }
  }

  &__switch {
    @apply duration-1000
  }
}